@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  outline: none;
}

.active {
  padding: 6px 24px;
  border-radius: 12px;
  background-color: #3780c9;
  color: #fff;
}
