@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  font-size: 16px;
  line-height: 1.5;
}
input,
button,
textarea,
select {
  font: inherit;
}
input {
  outline: none;
}
.active {
  padding: 6px 24px;
  border-radius: 12px;
  background-color: #3780c9;
  color: #fff;
}
